body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial;
}

.leftMenu{
    width: 200px;
    background-color: #031f19;
 
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

}
.container{
  padding-left:200px;

    

}
.top{
    background-color: #151a24;
    height: 40px;
    color: #fff;
    font-size: 15px;

}
.top_right{
    float: right;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px; ;
}
.top_right  a{
    color: #fff;
    text-decoration: none;
}
.company_name{
height: 100px;
line-height: 100px;
font-size: 18px;
color: #fff;
text-align: center;
}

.menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.menu-area li{
    height:40px ;
    line-height: 40px;
    font-size: 14px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 8px 12px;

   


}
.menu-area{
    color: #fff;
    
   
}
.menu-area li:hover{
background-color: #000;
}
.menu-area li a {
    color: #fff;
    text-decoration: none;
    display: block;

}
.menu-area li:nth-child(1) {
    background-image:url('../imagens/house.png');
}
.menu-area li:nth-child(2) {
    background-image:url('../imagens/key.jpg');
}
.area{
    padding: 15px;
}
.tabItem{
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgb(14, 13, 13);
    text-align: center;
    font-size: 20px;
    background-color: #eee;
}
.activetab{
    border-bottom: 1px solid #fff;
    background-color: #fff;
    cursor: pointer;

}
.tabbody{
    display: none;
}